@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Inter:wght@600;700&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }

#video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.hero .content {
    text-align: center;
    align-items: center;
    align-content: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top: 260px;
    
}

.hero .content h1 {
    font-size: 4rem;
    color: #E5FFEE;
}

.hero .content h2 {
    font-size: 3rem;
    color: #E5FFEE;
}

.hero p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #E5FFEE;
}

.hero .btn {
    margin: 1rem .6rem;
    border-radius: 15px;
}

@media screen and (max-width:640px) {
    .content h1 {
        font-size: 3rem;
    }

    .content p {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}










