@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Inter:wght@600;700&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}